{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
About Page
{% endblock %}

{% block body_block %}
<div>
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">This is the About page.</h1>
                <h5>This is a website made by a group of students at the University of Glasgow to help book lovers discover new books to read!</h5>
            </div>
        </div>
    </div>
    <div>
        <p>Website visits: {{ visits }}</p>
    </div>
</div>
{% endblock %}