{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% if book %}
{{ book.title }}
{% else %}
Unknown Book
{% endif %}
{% endblock %}

{% block body_block %}
{% if book %}
<div class="jumbotron p-4">
    <div class="container">
        <h1>{{ book.title }}</h1>
        <h5>by {{ book.author }} (Author)</h5>
    </div>
</div>

<body class="py-4">
    <div class="container">
        <div class="row mb-2">
            <div class="col-md-2 themed-grid-col">Title</div>
            <div class="col-md-2 themed-grid-col">Rating</div>
            <div class="col-md-2 themed-grid-col">Comment</div>
            <div class="col-md-2 themed-grid-col">Genre</div>
            <div class="col-md-2 themed-grid-col">Publish Date</div>
            <div class="col-md-2 themed-grid-col">Upvotes</div>
            {% if reviews %}
            {% for review in reviews %}
            <div class="col-md-2 themed-grid-col">{{ review.title }}</div>
            <div class="col-md-2 themed-grid-col">{{ review.rating }} out of 5 stars</div>
            <div class="col-md-2 themed-grid-col">{{ review.comment }}</div>
            <div class="col-md-2 themed-grid-col">{{ review.genre }}</div>
            <div class="col-md-2 themed-grid-col">{{ review.publishDate }}</div>
            <div class="col-md-2 themed-grid-col">{{ review.upvotes }}</div>
            {% endfor %}
            {% else %}
            <strong>No reviews currently uploaded for this book.</strong>
            {% endif %}
        </div>

        {% if user.is_authenticated %}
        <a href="{% url 'rango:leave_review' book.slug %}">Leave Review</a> <br />
        {% endif %}
        {% else %}
        The specified book does not exist.
        {% endif %}
        {% endblock %}

    </div> <!-- /container -->
</body