{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
Books
{% endblock %}

{% block body_block %}
<div>
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">Books</h1>
            <h5 class="jumbotron-heading">Sorted by score (descending)</h5>
        </div>
    </div>
</div>

<body>
    <div class="panel-body">
        <div class="list-group">
            {% if books %}
                {% for b in books %}
                    <li class="list-group-item">
                    {% if b == current_book %}
                        <a href="{% url 'rango:show_book' b.slug %}">
                            "{{ b.title }}" by {{ b.author }}
                        </a>
                    {% else %}
                        <a href="{% url 'rango:show_book' b.slug %}">
                            "{{ b.title }}" by {{ b.author }}
                        </a>
                    {% endif %}
                    <b class="float-right">| Score: {{ b.score }}</b>
                    </li>
                {% endfor %}
            {% else %}
            <li class="nav-item">There are no books present.</li>
            {% endif %}
        </div>
    </div>
</body>

{% endblock %}