{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% if book %}
{{ book.title }}
{% else %}
Unknown Book
{% endif %}
{% endblock %}

{% block body_block %}
{% if book %}
<div class="jumbotron p-4">
    <div class="container">
        <h1>{{ book.title }}</h1>
        <h5>by {{ book.author }} (Author)</h5>
    </div>
</div>

<body class="py-4">
    <div class="container">
        <div class="row">
            <ul type = "circle">
                <li>Score : {{ book.score }}</li>
                <li>ISBN : {{ book.isbn }}</li>
                <li>Publisher : {{ book.publisher }}</li>
                <li>Language : {{ book.language }}</li>
                <li>Price : £{{ book.price }}</li>
                <li>Description : {{ book.description }}</li>
            </ul>
        </div>
        <div class="row mb-2">
            <div class="col-md-2 themed-grid-col">Title</div>
            <div class="col-md-2 themed-grid-col">Rating</div>
            <div class="col-md-2 themed-grid-col">Comment</div>
            <div class="col-md-2 themed-grid-col">Publish Date</div>
            <div class="col-md-2 themed-grid-col">Upvotes</div> <br>
            <div class="col-md-2 themed-grid-col">{{ review.upvotes }}</div> <hr style="width:85%">
            {% if reviews %}
            {% for review in reviews %}
            <div class="col-md-2 themed-grid-col">{{ review.title }}</div>
            <div class="col-md-2 themed-grid-col">{{ review.rating }} out of 5 stars</div>
            <div class="col-md-2 themed-grid-col">{{ review.comment }}</div>
            <div class="col-md-2 themed-grid-col">{{ review.publishDate }}</div>
            <div class="col-md-2 themed-grid-col">{{ review.upvotes }}</div> <hr style="width:85%">
            {% endfor %}
            {% else %}
            <strong>No reviews currently uploaded for this book.</strong>
            {% endif %}
        </div>

        {% if user.is_authenticated %}
            <a href="{% url 'rango:leave_review' book.slug %}">Leave Review</a> <br>
        
        {% else %}
        <p>You have to be logged in to leave a review <a href="/accounts/login/"> Log in </a> </p>
        {% endif %}

    </div> <!-- /container -->
</body
{% endif %}
    The specified book does not exist.
{% endblock %}